<div class="p-4">
    <h1>{{ title }}</h1>
    <table class="table table-striped table-hover">
        <thead>
            <th>Id</th>
            <th>Name</th>
        </thead>
        <tbody>
            <tr *ngFor="let it of items; let i = index">
                <td>{{ it.id }}</td>
                <td>{{ it.name }}</td>
                <td><button (click)="delete(i)" class="btn btn-sm btn-danger">Delete</button></td>
            </tr>
        </tbody>
    </table>

    <h4>Add An Item</h4>
    <table>
        <tr>
            <td>ID:</td>
            <td>
                <input [(ngModel)]="newItem.id">
            </td>
        </tr>
        <tr>
            <td>Item to Add:</td>
            <td>
                <input [(ngModel)]="newItem.name">
            </td>
        </tr>
    </table>
    <button (click)="addItem()">Add Item</button>

    <!-- <h4>Edit An Item</h4>
    <table>
        <tr>
            <td>ID:</td>
            <td>
                <input [(ngModel)]="newItem.id">
            </td>
        </tr>
        <tr>
            <td>Item to Update:</td>
            <td>
                <input [(ngModel)]="newItem.name">
            </td>
        </tr>
    </table>
    <button (click)="editItem()">Edit Item</button> -->
</div>